
p#pogrubienie_lukowski {
    font-size: 32px;
    color: #80B8CC;
}

p#pochylona_lukowski {
    font-size: 37pt;
    color: #E4C864;
}

p#index_gorny_lukowski {
    font-size: (1.2cm);
    color: #94928C;
}

p#index_dolny_lukowski {
    font-size: (1.9cm);
    color: rgba(48, 242, 224, 1);
}

p#mono_lukowski {
    font-size: 42px;
    color: #14DE68;
}

p#powiekszenie_lukowski {
    color: #4E3E9E;
}

p#pomniejszenie_lukowski {
    color: #B5A8A4;
}
