h3 {
color: olive;
}
/* blok górny */
#blok-gorny {
width: 400pt;
height: 2,8cm;
background-color: FFCCDD;
border-top: 2px groove #C0C0C0;
border-bottom: 2px groove #FF00FF;
border-left: 4px groove #808080;
border-right: 4px groove #C0C0C0;
margin-right: 30%;
padding-left: 10px;
}
/* blok środkowy */
#blok-srodkowy {
width: 200pt;
height: 3cm;
background: #FFFFFF;
border: 3px inset #800000;
margin-right: 60%;
margin-top: 50%;
text-align: center;
}
/* blok dolny */
#blok-dolny {
width: 300pt;
height: 4cm;
background: #FFFFFF;
border: 2px double #008080;
margin-left: 30%;
margin-top:90%;
font-size: 12px;
margin-top: 5%;
}
/*kacper lukowski*/
